

.left-column {
  padding: 10px 20px;
  background: #ccc;
}

.right-column {
  background: #eee;

}

.buttonArea {
  margin-top: 20px;
}


.gifButton {

  margin: 7px 0 ;
  text-transform: capitalize;
}

.gif {
  margin: 20px 0;
}

.gif img {
  cursor: pointer;
  display: block;
  max-width: 100%;
}
