

.left-column {
  padding: 10px 20px;
}

.right-column {
  background: #eee;
  padding: 20px;

}

.buttonArea {
  margin-top: 20px;
}

.gifButton {
  display: block;
  margin: 7px 0 ;
}

.gif img {
  width: 100%;
  cursor: pointer;
}
